<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <form action="/" method="post">
    	<input type="text" name="longUrl" placeholder="please enter your long url here"/>
    	<button type="submit"> get my short url </button>
    	<% if (shortUrl) { %>
    		<div><%= shortUrl %></div>
		<% } %>
    </form>
  </body>
</html>
